.FormAccount {
  border: 1px solid #434343;
  padding: 20px;
  width: 60vw;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.FormAccount > div {
  display: flex;
  align-items: center;
}

.FormAccount input {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #43434350;
}

.FormAccount input:focus {
  outline: none;
  border: 1px solid salmon;
}

.FormAccount select {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #43434350;
}

.FormAccount select:focus {
  outline: none;
  border: 1px solid salmon;
}

.FormAccount label {
  display: block;
  width: 100px;
  text-align: right;
  margin-right: 30px;
}

.FormAccount .repurchase_form span {
  width: 100px;
  text-align: right;
  margin-right: 30px;
}

.FormAccount .repurchase_form label {
  width: auto;
  font-size: 13px;
  line-height: 11px;
}

.FormAccount .btn-submit {
  justify-content: center;
}

.FormAccount .btn-submit button {
  cursor: pointer;
  background: salmon;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
