.ItemList {
  border-bottom: 1px solid #434343;
  border-top: 1px solid #434343;
  padding: 20px;
  width: 60vw;
  height: auto;
  margin: 0 auto;
  margin: 0 auto 50px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.AccountItem {
  border: none;
  border-bottom: 1px solid #43434350;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.AccountItem .title_item {
  flex: 1;
}

.AccountItem .btn-delete {
  margin-left: 20px;
}

.AccountItem .btn-delete button {
  cursor: pointer;
  background: salmon;
  color: white;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
